.resources-error {
    color: red;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.popup {
    nav {
        > div {
            display: inline-block;
        }
    }
}