body {
    font-family: "Arial", arial, serif;
}

.resources-error {
    color: $resource_error;
}

.premium {
    color: $premium-color;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.ribs-popup {
    nav {
        > div {
            display: inline-block;
        }
    }
}

/* temporary for index page */
.index-page, .ribs-popup {
    h2 {
        font-size: 24px;
        margin: 29px 0;
    }
    
    ul {
        list-style: initial !important;
        margin: initial !important;
        padding-left: 40px !important;
        
        li {
            list-style: initial !important;
            margin: initial !important;
            line-height: 1.2;
        }
    }
}

.ribs-popup ul {
    margin-bottom: 20px !important;
}