header {
    nav {
        a {
            display: inline-block;
            padding: 10px;
        }
    }

    #base {
        background: $nav-left-background-base;
        color: $nav-left-color-base;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 1.4rem;
    }

    #resources {
        background: $nav-left-background-resources;
        color: $nav-left-color-resource;
        display: flex;
        align-items: center;

        ul {
            li {
                display: inline-block;
                background: $nav-left-background-resource;
                padding: 5px;
                font-weight: bold;
            }
        }
    }
}