header {
    #base {
        background: $nav-leftbackground-base;
        color: $nav-leftcolor-base;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 1.4rem;
    }

    #resources {
        background: $nav-leftbackground-resources;
        color: $nav-leftcolor-resource;
        display: flex;
        align-items: center;

        ul {
            li {
                display: inline-block;
                background: $nav-leftbackground-resource;
                padding: 5px;
                font-weight: bold;
            }
        }
    }
}