@keyframes cardEnter {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -ms-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        -ms-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        -ms-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        -ms-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#login {
    background-image: url(~assets//images/login.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;

    .active {
        -webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
        animation: cardEnter 0.75s ease-in-out 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        height: auto;
        margin: 0px auto;
        padding: 20px;
        opacity: 1;
        display: block;
        position: relative;
        top: 20%;
    }

    > div {
        opacity: 0;
        height: 0;
        max-width: 350px;
        border-radius: 2px;
        background-color: $login-background-form;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
            0 6px 6px rgba(0, 0, 0, .23);
        display: none;

        h1,h2 {
            color: #AFBDC4;
            text-align: center;
            margin-top: 10px;
            margin-bottom: -10px;
        }

        .block {
            padding: 16px 0 8px 0;

            input {
                position: relative;
                display: block;
                width: 100%;
                min-width: inherit;
                padding: 10px 0;
                text-indent: 10px;
                line-height: 16px;
                font-size: 16px;
                border: none;
                outline: none;
            }
        }

        button {
            margin: 40px 0 10px 0;
            padding: 10px 0;
            min-width: 64px;
            line-height: 18px;
            background-color: $login-bakcground-button;
            color: #fff;
            border: none;
            transition: 0.3s all ease;
            font-size: 14px;
            font-family: Arial, sans-serif;
            text-align: center;
            width: 100%;

            @include hbgtranslate($login-bakcground-button, $login-bakcground-button-hover, top, bottom);
        }
    }
}