.messages {
    table {
        border-spacing : 0;
        border-collapse : collapse;

        td, th {
            border: 1px solid $messages-border-list-color;
            padding: 10px;
            margin: 0;
        }

        tbody {
            tr {
                transition: 0.3s all ease;
                cursor: pointer;

                &:hover {
                    background: $messages-bg-hover-line-list;
                }
            }
        }
    }
}