nav {
    h2 {
        margin: 10px 0;
        font-size: 1.4rem;
    }

    h3 {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    #units, #building-constructions {
        color: $nav-left-color;
        padding-top: 10px;
        padding-bottom: 10px;

        &#units {
            background: $nav-left-background-units;
        }

        &#building-constructions {
            background: $nav-left-background-buildings;
        }

        .block {
            margin-bottom: 20px;

            &:first-of-type {
                li {
                    margin-bottom: 10px;
                }
            }

            ul {
                li {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}