$bg-map: #162B56;
$border-map-players: #000;
$map-bg-mybase: #2A6BC3;
$map-bg-mybases: #22569D;
$map-bg-myfaction: #24AC29;
$map-bg-alliesfactions: #1E7620;
$map-bg-ennemiesfactions: #AC0003;
$map-bg-nonaggressionfactions: #595959;
$map-bg-hover-base: #FFFFFF;