$login-bakcground-button: #F24237;
$login-bakcground-button-hover: #C33632;

$login-background-form: #EBEDF1;

$bg-map: #162B56;
$border-map-players: #000;
$map-bg-mybase: #2A6BC3;
$map-bg-mybases: #22569D;
$map-bg-myfaction: #24AC29;
$map-bg-alliesfactions: #1E7620;
$map-bg-ennemiesfactions: #AC0003;
$map-bg-nonaggressionfactions: #595959;
$map-bg-archived: #434343;
$map-bg-hover-base: #FFFFFF;


$messages-border-list-color: #CCC;
$messages-bg-hover-line-list: #e7e7e7;